<div class="banner">
  <div class="container">
  <%# <div class="bird-container bird-container--one">
		<div class="bird bird--one">
    </div>
	</div>

	<div class="bird-container bird-container--two">
		<div class="bird bird--two"></div>
	</div>

	<div class="bird-container bird-container--three">
		<div class="bird bird--three"></div>
	</div>

	<div class="bird-container bird-container--four">
		<div class="bird bird--four"></div>
	</div> %>

      <h1 class="mb-4"><i class="highlight" >Redonnez vie à des lieux abandonnés !</i></h1>
    <h3 class="mb-5"><strong><i class="highlight">Quel que soit votre projet, nous avons le lieu qu'il vous faut</i></strong></h3>
    <%= link_to "Découvrir 🕵️‍♀️", places_path, class: "btn btn-flat" %>
  </div>
</div>
<div class="container my-5">
  <div class="row">
    <% @activities.each do |activity| %>
    <% if activity.name != "🤔 Autre" %>
      <div class="col-12 col-lg-4">
      <div class="tag-activity m-2">
          <a href="http://localhost:3000/places?query=<%= activity.name %>&commit=Search"><%= activity.name %></a>
      </div>
          <%# <%= link_to(places_path) do %>
              <%# <div class="tag-activity m-2"> %>
              <%# <%=  activity.name %>
              <%# </div> %>
          <%# <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="container my-5">
  <div class="row">
      <% @places.first(6).each do |place| %>
      <div class="cards-index col-12 col-lg-4">
      <%= link_to(place_path(place.id)) do %>
        <div class="card-place m-2">
          <%=  cl_image_tag place.photos.first.key %>
          <div class="card-place-infos p-3">
            <div>
              <h2 class="mb-2"><%= place.title %></h2>
              <p><%= "#{place.description.first(150)}..." %></p>
            </div>
          <%= cl_image_tag place.user.photo.key,  width: 40, height: 40, crop: :fill, class: "card-place-user avatar-bordered" %>
        </div>
      </div>
      <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
