<div class="container my-5">
  <div class="row">
    <div class="col-12 col-lg-8">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner rounded-angle">
            <div class="carousel-item active">
              <%= cl_image_tag @place.photos.first.key, crop: :fill, class: "d-block w-100"%>
            </div>
            <% @place.photos[1..].each do |photo| %>
            <div class="carousel-item">
              <%= cl_image_tag photo.key, crop: :fill, class: "d-block w-100"%>
            </div>
            <% end %>
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>
      </div>
    <div class="col-12 col-lg-4 d-flex flex-column">
      <h2 class="mx-2 mt-2"><strong><%= @place.title %></strong></h2>
      <p class="mx-2"><%= @place.description %> </p>

      <p class="mx-2">Proposé par :<%= cl_image_tag @place.user.photo.key, width: 40, height: 40, crop: :fill, class: "avatar-bordered dropdown-toggle mx-1" %> <strong><%= @place.user.authority_name %></strong> </p>

      <p class="mx-2 my-3"><i class="tag-type"><%= @place.type_of_place %></i>
    <% unless @place.available_for == "🕺 Les deux" %>
      <i class="tag-project"><%= @place.available_for %></i></p>
    <% else %>
      <p class="mx-2 my-3"><i class="tag-project"><%= "⌛ Location temporaire" %></i></p>
      <p class="mx-2 my-3"><i class="tag-project"><%= "🏗️ Projet long terme" %></i></p>
    <% end %>

      <% @place.activities.each do |activity| %>
      <p class="mx-2 m-3"><i class="tag-show"><%= activity.name %></i></p>
      <% end %>

    <% if current_user == @place.user %>
      <p class="my-5 mx-2"><%= link_to "✏️ Modifier", edit_place_path, class: "link-solo" %></p>
    <% end %>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-12 col-lg-6">
    <h4 class="text-center my-2"><strong>Localisation</strong></h4>
    <p class="my-2">📍<em><%= @place.address %></em></p>
    <div class="rounded-angle" style="width: 100%; height: 400px;"
    class="map-index"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    </div>
    <div class="col-12 col-lg-6">
    <h4 class="text-center my-2"><strong>Projets en cours</strong></h4>
    <% if @place.projects.size == 0 %>
    <% if current_user.nil? %>
    <p class="text-center my-2"><%= link_to "💡 Connectez-vous et proposez un projet pour #{@place.title} !", new_user_session_path, class: "link-solo" %></p>
    <% elsif !current_user.local_authority %>
    <p class="text-center my-2">Il n'y a pas encore de projet en cours pour <%=@place.title%>, <br><%= link_to "proposez-en un 💡", new_place_project_path(@place.id), class: "link-solo" %></p>
    <% else %>
    <p class="text-center my-2">Il n'y a pas encore de projet en cours pour <%=@place.title%>.</p>
    <% end %>
    <% else %>
        <% if current_user.nil? %>
        <p class="text-center my-2 "><%= link_to "💡 Connectez-vous et proposez un projet pour #{@place.title} !", new_user_session_path, class: "link-solo" %></p>
        <% elsif !current_user.local_authority %>
        <p class="text-center my-2"><%= link_to "💡 Proposez un projet pour #{@place.title}", new_place_project_path(@place.id), class: "link-solo" %></p>
        <% end %>
        <% @place.projects.each do |project| %>
      <div class="card-project my-5" data-aos="flip-down">
      <%= cl_image_tag project.user.photo.key, crop: :fill, height: 100, width:100 %>
        <div class="card-project-infos">
          <h2>Projet de <%= project.user.first_name %> pour <%= @place.title %>
          <% if current_user == project.user %>
          <%= link_to(place_project_path(@place.id, project.id), data: {turbo_method: :delete, turbo_confirm: "Etes-vous sûr.e de vouloir supprimer ce projet?"}) do%>
          <i class="fa-solid fa-trash-can"></i>
          <% end %>
          <% end %>
          </h2>
          <h3><%= project.accepted ? "✅ Ce projet est accepté" : "⏰ Ce projet est en attente d'acceptation" %></h3>
          <p><%= project.details.first(100) %></p>
          <p><span class="me-5"><strong><%= project.activity.name %></strong></span><%= project.start_date %><% if project.end_date %> - <%= project.end_date%><% end %></p>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
  </div>

</div>
